.app {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	font-family: MonstroSolid, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	padding-top: 76px;
}

.four-oh-four {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 46px;
	margin-top: 60px;
}
