* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:root {
	--primary-dark: #161616;
	--primary-very-dark: #000000;
	--primary-white: #f3f3f3;
	--primary-cream: #d9d3cc;
	--primary-gray: #7a7a7a;
	--primary: #da292a;
	--primary-light: #da292a90;
	--error: #ff00aa;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
	color-scheme: light dark;
	color: var(--primary-white);
	background-color: var(--primary-dark);
}

h1 {
	font-family: DukeFill, sans-serif;
	font-size: 44px;
}

h2 {
	font-family: DukeFill, sans-serif;
	font-size: 40px;
}

h3 {
	font-family: DukeFill, sans-serif;
	font-size: 36px;
}

h4 {
	font-family: DukeFill, sans-serif;
	font-size: 32px;
}

p {
	font-family: OpenSans-SemiBold, sans-serif;
	font-size: 20px;
}

@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("./fonts/TitilliumWeb-SemiBold.ttf") format("woff");
}

@font-face {
	font-family: "DukeFill";
	src: url("./fonts/DukeFill.woff") format("woff");
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
